

<launch>

    <node name="ros_calib_init" pkg="linkalibr" type="ros_calib_init" output="screen" clear_params="true" required="true">
            <!-- bag topics -->
            <!-- <param name="topic_imu"    type="string" value="/vectornav/IMU" />
            <param name="topic_lidar"    type="string" value="/os_cloud_node/points" /> -->

            <param name="topic_imu"    type="string" value="/imu/data" />
            <param name="topic_lidar"    type="string" value="/velodyne_points" />


            <!-- bag parameters -->
            <param name="path_bag"    type="string" value="/home/coui/catkin_ws/bags/0531_pos2.bag" />

            <param name="bag_start"   type="double" value="0.0" />
            <param name="bag_durr"    type="int"    value="-1" />

            <!-- NDT Resolution -->
            <param name="ndt_resolution" type="double" value="0.25"/>
    </node>

    <node name="ros_calib_init_optimizer" pkg="linkalibr" type="ros_calib_init_optimizer" output="screen" clear_params="true" required="true">
            <!-- ## bag 파일의 길이에 따라서 max_frames를 정해줌.
            max_frame 은 calibration 에 사용되는 데이터 샘플 개수로, 많아지면 정확도가 향상되지만 연산 속도는 느려짐 ## -->
            <param name="max_frames"      type="int"   value="400" />
            
            <!-- ##Vectornav VN-300##  -->
            <!-- <param name="gyroscope_noise_density"      type="double"   value="0.00006243" />
            <param name="accelerometer_noise_density"  type="double"   value="0.094666" /> -->
            
            <!-- Microstrain 3DM-GX5-25  -->
            <param name="gyroscope_noise_density"      type="double"   value="1.5636343949698187e-03" />
            <param name="accelerometer_noise_density"  type="double"   value="3.9939570888238808e-03" />

            <param name="calibration_result_filename" type="string" value="/home/coui/catkin_ws/src/imu_lidar_calibration/linkalibr/data/coui/I_T_L_init.txt"/>
    </node>

</launch>